.region {
    -fx-background-color: grey;
}


.button {
    -fx-background-color: green;
    -fx-text-fill: white;
}   

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: green;
}

.tile {
    -fx-text-fill: green;
    -fx-highlight-fill: green;
}

.tile.tile:focused {
    -fx-background-color: green;
    -fx-text-fill: white;
}


.grid-pane {
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: green;
}