.region {
    -fx-background-color: grey;
}


.button {
    -fx-background-color: rgb(255, 0, 0);
    -fx-text-fill: white;
}   

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: red;
}

.tile {
    -fx-text-fill: red;
    -fx-highlight-fill: red;
}

.tile:focused {
    -fx-background-color: red;
    -fx-text-fill: white;
}


.grid-pane {
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: red;
}